<section class="row">
  <h1 class="font-heavy text-3xl">Admin Dashboard</h1>
</section>

<br/>

<.live_component module={SurveyUsersActivityLive} id={@survey_users_activity_component_id} />

<br/>

<.live_component module={SurveyResultsLive} id={@survey_results_component_id} />

<br/>

<.live_component module={UserActivityLive} id={@user_activity_component_id} />
